#testdiv {width:600px; margin:0 auto; border:1px solid #ccc; padding:20px 25px; background:#fff}

#tinybox { height:40px; position:absolute; display:none; padding:10px; background: url(_images/preload.gif) no-repeat 50% 50%; z-index:99999;}
#tinymask {position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000; z-index:99999;}
#tinycontent {z-index:99999; cursor:pointer;}

.button {cursor:pointer}
.button:hover {border:1px solid #bbb; background:#e3e3e3}

.popUp{cursor:pointer};

.popUp-title{font:bold 11px Arial, Helvetica, sans-serif !important; color:#333 !important; text-transform:uppercase;}